<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="SessionFactory">

 <!--  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">shithead</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/payYourself</property>
  <property name="hibernate.connection.username">payYourselfUsers</property>
   -->
  
  <!--  thread is the short name for
      org.hibernate.context.ThreadLocalSessionContext
      and let Hibernate bind the session automatically to the thread
    -->
  <property name="hibernate.default_schema">payYourself</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

  <property name="current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>

  <property name="connection.datasource">java:comp/env/PayYourselfDatasource</property>
  
  
  
  
  <mapping resource="com/payyourself/currency/PyCurrency.hbm.xml"/>
  <mapping resource= "com/payyourself/accounting/product/Product.hbm.xml"/>
  
  <mapping resource= "com/payyourself/trading/beneficiary/tradeBeneficiary/TradeBeneficiary.hbm.xml"/>  
  <mapping resource= "com/payyourself/trading/beneficiary/Beneficiary.hbm.xml"/>
  <mapping resource= "com/payyourself/trading/beneficiary/details/BeneficiaryDetails.hbm.xml"/>

  <mapping resource= "com/payyourself/accounting/account/Account.hbm.xml"/>  
  <mapping resource= "com/payyourself/accounting/account/levelOne/LevelOne.hbm.xml"/> 
  <mapping resource= "com/payyourself/accounting/account/levelTwo/LevelTwo.hbm.xml"/> 
  <mapping resource= "com/payyourself/accounting/transaction/Transaction.hbm.xml"/>
  <mapping resource= "com/payyourself/accounting/period/Period.hbm.xml"/>  
  <mapping resource= "com/payyourself/accounting/journal/Journal.hbm.xml"/>  
  
  <mapping resource="com/payyourself/userManagement/user/User.hbm.xml"/>
  <mapping resource="com/payyourself/userManagement/role/Role.hbm.xml"/>
  <mapping resource="com/payyourself/currency/type/PyCurrencyType.hbm.xml"/>
  <mapping resource="com/payyourself/trading/trader/group/TraderGroup.hbm.xml"/>
  <mapping resource="com/payyourself/trading/trade/Trade.hbm.xml"/>
  <mapping resource="com/payyourself/trading/trader/Trader.hbm.xml"/>
  <mapping resource="com/payyourself/trading/chain/TradeLink.hbm.xml"/>
  <mapping resource="com/payyourself/trading/chain/TradeChain.hbm.xml"/>
  <mapping resource="com/payyourself/registration/RegistrationInfo.hbm.xml"/>
  <mapping resource="com/payyourself/trading/tradeGenerator/settings/TaskSettings.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
